# **Project: Investigating Netflix Movies**

Los Angeles, California ðŸ˜Ž. The City of Angels. Tinseltown. The Entertainment Capital of the World!

Known for its warm weather, palm trees, sprawling coastline, and Hollywood, along with producing some of the most iconic films and songs. However, as with any highly populated city, it isn't always glamorous and there can be a large volume of crime. That's where you can help!

You have been asked to support the Los Angeles Police Department (LAPD) by analyzing crime data to identify patterns in criminal behavior. They plan to use your insights to allocate resources effectively to tackle various crimes in different areas.

The Data
They have provided you with a single dataset to use. A summary and preview are provided below.

It is a modified version of the original data, which is publicly available from Los Angeles Open Data.

crimes.csv
Column	Description
'DR_NO'	Division of Records Number: Official file number made up of a 2-digit year, area ID, and 5 digits.
'Date Rptd'	Date reported - MM/DD/YYYY.
'DATE OCC'	Date of occurrence - MM/DD/YYYY.
'TIME OCC'	In 24-hour military time.
'AREA NAME'	The 21 Geographic Areas or Patrol Divisions are also given a name designation that references a landmark or the surrounding community that it is responsible for. For example, the 77th Street Division is located at the intersection of South Broadway and 77th Street, serving neighborhoods in South Los Angeles.
'Crm Cd Desc'	Indicates the crime committed.
'Vict Age'	Victim's age in years.
'Vict Sex'	Victim's sex: F: Female, M: Male, X: Unknown.
'Vict Descent'	Victim's descent:
A - Other Asian
B - Black
C - Chinese
D - Cambodian
F - Filipino
G - Guamanian
H - Hispanic/Latin/Mexican
I - American Indian/Alaskan Native
J - Japanese
K - Korean
L - Laotian
O - Other
P - Pacific Islander
S - Samoan
U - Hawaiian
V - Vietnamese
W - White
X - Unknown
Z - Asian Indian
'Weapon Desc'	Description of the weapon used (if applicable).
'Status Desc'	Crime status.
'LOCATION'	Street address of the crime.

#### Project Instructions: Explore the crimes.csv dataset and use your findings to answer the following questions:

1. Which hour has the highest frequency of crimes? Store as an integer variable called peak_crime_hour.

2. Which area has the largest frequency of night crimes (crimes committed between 10pm and 3:59am)? Save as a string variable called peak_night_crime_location.

3. Identify the number of crimes committed against victims of different age groups. Save as a pandas Series called victim_ages, with age group labels "0-17", "18-25", "26-34", "35-44", "45-54", "55-64", and "65+" as the index and the frequency of crimes as the values.

In [15]:
# Loading in required libraries

import os
import pandas as pd
import seaborn as sns
import numpy as np

# Reading in the Nobel Prize data
# build read_csv function
folder_name = 'datasets'
dir = r'C:\Users\mcaba\OneDrive\Escritorio\Data Science\Datacamp_Projects\DataCamp_Projects\{}'.format(folder_name)

def read_csv_fun(folder_name,file_name, path):
    path = dir
    os.chdir(path)
    df = pd.read_csv('{}.csv'.format(file_name), sep=',', low_memory=False, on_bad_lines='skip')
    return df

crimes = read_csv_fun('datasets','crimes', dir)

# Taking a look at the first several winners
crimes.head(2)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Weapon Desc,Status Desc,LOCATION
0,220314085,2022-07-22,2020-05-12,1110,Southwest,THEFT OF IDENTITY,27,F,B,NaN,Invest Cont,2500 S SYCAMORE AV
1,222013040,2022-08-06,2020-06-04,1620,Olympic,THEFT OF IDENTITY,60,M,H,NaN,Invest Cont,3300 SAN MARINO ST

In [16]:
# Re-run this cell
#Â Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185715 entries, 0 to 185714
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DR_NO         185715 non-null  int64
 1   Date Rptd     185715 non-null  object
 2   DATE OCC      185715 non-null  object
 3   TIME OCC      185715 non-null  int64
 4   AREA NAME     185715 non-null  object
 5   Crm Cd Desc   185715 non-null  object
 6   Vict Age      185715 non-null  int64
 7   Vict Sex      185704 non-null  object
 8   Vict Descent  185705 non-null  object
 9   Weapon Desc   73502 non-null   object
 10  Status Desc   185715 non-null  object
 11  LOCATION      185715 non-null  object
dtypes: int64(3), object(9)
memory usage: 17.0+ MB

In [17]:
## 1. Which hour has the highest frequency of crimes? Store as an integer variable called peak_crime_hour.

crimes.describe()

# Ensure 'TIME OCC' is a string and pad with zeros if needed
crimes['TIME OCC str'] = crimes['TIME OCC'].astype(str).str.zfill(4)
crimes.info()
# Extract the hour
crimes['hour'] = crimes['TIME OCC str'].str[:2].astype(int)

# Find the hour with the highest frequency
peak_crime_hour = crimes['hour'].mode()[0]

print(peak_crime_hour)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185715 entries, 0 to 185714
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DR_NO         185715 non-null  int64
 1   Date Rptd     185715 non-null  object
 2   DATE OCC      185715 non-null  object
 3   TIME OCC      185715 non-null  int64
 4   AREA NAME     185715 non-null  object
 5   Crm Cd Desc   185715 non-null  object
 6   Vict Age      185715 non-null  int64
 7   Vict Sex      185704 non-null  object
 8   Vict Descent  185705 non-null  object
 9   Weapon Desc   73502 non-null   object
 10  Status Desc   185715 non-null  object
 11  LOCATION      185715 non-null  object
 12  TIME OCC str  185715 non-null  object
dtypes: int64(3), object(10)
memory usage: 18.4+ MB
12

In [42]:
## 2. Which area has the largest frequency of night crimes (crimes committed between 10pm and 3:59am)? Save as a string variable called peak_night_crime_location.

crimes['TIME OCC'] = crimes['TIME OCC'].astype(int)

crimes['night_crimes'] = crimes['TIME OCC'].apply(
    lambda x: 1 if x >= x > 2200 or x < 359 else 0
)

night_crimes = crimes[crimes["night_crimes"] == 1]

print(night_crimes[['Crm Cd Desc', 'TIME OCC', 'night_crimes']].head(10)) 

night_crimes_area =  night_crimes.groupby("AREA NAME").agg(
    # "num_schools" - the number of schools in the borough.
    num_crimes = ("DR_NO", "count")
)

night_crimes_area_index = night_crimes_area.reset_index()

print(night_crimes_area_index)

peak_night_crime_area = night_crimes_area_index[night_crimes_area_index["num_crimes"] == night_crimes_area_index["num_crimes"].max()]

peak_night_crime_location = peak_night_crime_area["AREA NAME"].iloc[0]

print(peak_night_crime_location)

                                   Crm Cd Desc  TIME OCC  night_crimes
8                                     BURGLARY         1             1
10                           THEFT OF IDENTITY       155             1
30                           THEFT OF IDENTITY         1             1
33                           THEFT OF IDENTITY      2305             1
36                           THEFT OF IDENTITY         1             1
39  EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)         1             1
40                           THEFT OF IDENTITY         1             1
41                           THEFT OF IDENTITY         1             1
47                           THEFT OF IDENTITY         1             1
56                           THEFT OF IDENTITY         1             1
      AREA NAME  num_crimes
0   77th Street        2376
1       Central        3013
2    Devonshire        1207
3      Foothill        1135
4        Harbor        1258
5    Hollenbeck        1194
6     Hollywood        2489
7       Mission        1313
8   N Hollywood        1687
9        Newton        2013
10    Northeast        1506
11      Olympic        1942
12      Pacific        1724
13      Rampart        1704
14    Southeast        2073
15    Southwest        2145
16      Topanga        1329
17     Van Nuys        1471
18      West LA        1259
19  West Valley        1390
20     Wilshire        1552
Central

In [55]:
## 3. Identify the number of crimes committed against victims of different age groups. Save as a pandas Series called victim_ages, with age group labels "0-17", "18-25", "26-34", "35-44", "45-54", "55-64", and "65+" as the index and the frequency of crimes as the values.

crimes['Vict Age'] = crimes['Vict Age'].astype(int)

# Define the mapping logic
def map_age_groups(VictAge):
    if pd.isna(VictAge):  
        return "N/A"
    elif VictAge <= 17:  
        return "0-17"
    elif VictAge > 17 and VictAge <= 25:
        return "18-25"
    elif VictAge > 25 and VictAge <= 34:
        return "26-34"
    elif VictAge > 34 and VictAge <= 44:
        return "35-44"
    elif VictAge > 44 and VictAge <= 54:
        return "45-54"
    elif VictAge > 54 and VictAge <= 64:
        return "55-64"
    else:
        return "65+"

crimes["age_groups"] = crimes["Vict Age"].apply(map_age_groups)

print(crimes[["Crm Cd Desc", "Vict Age", "age_groups"]].head())

victim_ages = crimes.value_counts("age_groups") 

print(victim_ages)

         Crm Cd Desc  Vict Age age_groups
0  THEFT OF IDENTITY        27      26-34
1  THEFT OF IDENTITY        60      55-64
2  THEFT OF IDENTITY        28      26-34
3  THEFT OF IDENTITY        37      35-44
4  THEFT OF IDENTITY        79        65+
age_groups
26-34    47470
35-44    42157
45-54    28353
18-25    28291
55-64    20169
65+      14747
0-17      4528
dtype: int64