# **Project: Exploring NYC Public School Test Result Scores**

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a maximum score of 800 points. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend.

You have been provided with a dataset called schools.csv, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

#### TASK: Perform exploratory data analysis on the schools.csv data aswer:

##### Which NYC schools have the best math results?

The best math results are at least 80% of the *maximum possible score of 800* for math.
Save your results in a pandas DataFrame called best_math_schools, including "school_name" and "average_math" columns, sorted by "average_math" in descending order.

##### What are the top 10 performing schools based on the combined SAT scores?

Save your results as a pandas DataFrame called top_10_schools containing the "school_name" and a new column named "total_SAT", with results ordered by "total_SAT" in descending order ("total_SAT" being the sum of math, reading, and writing scores).

##### Which single borough has the largest standard deviation in the combined SAT score?

Save your results as a pandas DataFrame called largest_std_dev.
The DataFrame should contain one row, with:
"borough" - the name of the NYC borough with the largest standard deviation of "total_SAT".
"num_schools" - the number of schools in the borough.
"average_SAT" - the mean of "total_SAT".
"std_SAT" - the standard deviation of "total_SAT".
Round all numeric values to two decimal places.

In [3]:
# Loading in required libraries

import os
import pandas as pd
import seaborn as sns
import numpy as np

# Reading in the Nobel Prize data
# build read_csv function
folder_name = 'datasets'
dir = r'C:\Users\mcaba\OneDrive\Escritorio\Data Science\Datacamp_Projects\DataCamp_Projects\{}'.format(folder_name)

def read_csv_fun(folder_name,file_name, path):
    path = dir
    os.chdir(path)
    df = pd.read_csv('{}.csv'.format(file_name), sep=',', low_memory=False, on_bad_lines='skip')
    return df

schools = read_csv_fun('datasets','schools', dir)

# Taking a look at the first several winners
schools.head(2)

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9

In [15]:
schools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   school_name      375 non-null    object
 1   borough          375 non-null    object
 2   building_code    375 non-null    object
 3   average_math     375 non-null    int64
 4   average_reading  375 non-null    int64
 5   average_writing  375 non-null    int64
 6   percent_tested   355 non-null    float64
 7   best_math        375 non-null    int64
dtypes: float64(1), int64(4), object(3)
memory usage: 23.6+ KB

In [ ]:
##   1. Which NYC schools have the best math results?
schools['best_math'] = schools['average_math'].apply(
    lambda x: 1 if x >= (80*800/100) else 0
)
print(schools[['school_name', 'average_math', 'best_math']].head(5))

                                         school_name  average_math  best_math
0  New Explorations into Science, Technology and ...           657          1
1                               Essex Street Academy           395          0
2                       Lower Manhattan Arts Academy           418          0
3    High School for Dual Language and Asian Studies           613          0
4      Henry Street School for International Studies           410          0

In [14]:
best_math_schools_df = schools[(schools['best_math'] == 1)]
best_math_schools = best_math_schools_df[['school_name', 'average_math']].sort_values('average_math', ascending=False)
print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [ ]:
##   2. What are the top 10 performing schools based on the combined SAT scores?

schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']
print(schools[['school_name', 'average_math', 'average_reading', 'average_writing', 'total_SAT']].head(5))

                                         school_name  average_math  \
0  New Explorations into Science, Technology and ...           657
1                               Essex Street Academy           395
2                       Lower Manhattan Arts Academy           418
3    High School for Dual Language and Asian Studies           613
4      Henry Street School for International Studies           410

   average_reading  average_writing  total_SAT
0              601              601       1859
1              411              387       1193
2              428              415       1261
3              453              463       1529
4              406              381       1197

In [27]:
top_schools = schools[['school_name', 'total_SAT']].sort_values('total_SAT', ascending=False)
top_10_schools = top_schools.head(10)
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [44]:
##   3. Which single borough has the largest standard deviation in the combined SAT score?

display(
    schools.value_counts("borough")
)

schools_grouped = schools.groupby("borough").agg(
    # "num_schools" - the number of schools in the borough.
    num_schools = ("school_name", "count"),
    # "average_SAT" - the mean of "total_SAT".
    average_SAT = ("total_SAT","mean"),
    # "std_SAT" - the standard deviation of "total_SAT".
    std_SAT = ("total_SAT","std")
).round(2)

schools_grouped_index = schools_grouped.reset_index()

print(schools_grouped_index)

borough
Brooklyn         109
Bronx             98
Manhattan         89
Queens            69
Staten Island     10
dtype: int64

         borough  num_schools  average_SAT  std_SAT
0          Bronx           98      1202.72   150.39
1       Brooklyn          109      1230.26   154.87
2      Manhattan           89      1340.13   230.29
3         Queens           69      1345.48   195.25
4  Staten Island           10      1439.00   222.30

In [47]:
largest_std_dev = schools_grouped_index[(schools_grouped_index['std_SAT'] == schools_grouped_index['std_SAT'].max())]
print(largest_std_dev)

     borough  num_schools  average_SAT  std_SAT
2  Manhattan           89      1340.13   230.29