# **Project: Investigating Netflix Movies**

![Netflix](datasets/netflix_image.jpg)

**Netflix**! What started in 1997 as a DVD rental service has since exploded into one of the largest entertainment and media companies.

Given the large number of movies and series available on the platform, it is a perfect opportunity to flex your exploratory data analysis skills and dive into the entertainment industry.

You work for a production company that specializes in nostalgic styles. You want to do some research on movies released in the 1990's. You'll delve into Netflix data and perform exploratory data analysis to better understand this awesome movie decade!

You have been supplied with the dataset `netflix_data.csv`, along with the following table detailing the column names and descriptions. Feel free to experiment further after submitting!

## The data
### **netflix_data.csv**
| Column | Description |
|--------|-------------|
| `show_id` | The ID of the show |
| `type` | Type of show |
| `title` | Title of the show |
| `director` | Director of the show |
| `cast` | Cast of the show |
| `country` | Country of origin |
| `date_added` | Date added to Netflix |
| `release_year` | Year of Netflix release |
| `duration` | Duration of the show in minutes |
| `description` | Description of the show |
| `genre` | Show genre |

#### TASK: Perform exploratory data analysis on the netflix_data.csv data to understand more about movies from the 1990s decade.

What was the most frequent movie duration in the 1990s? Save an approximate answer as an integer called duration (use 1990 as the decade's start year).

A movie is considered short if it is less than 90 minutes. Count the number of short action movies released in the 1990s and save this integer as short_movie_count.

Feel free to experiment after submitting the project!

In [2]:
# Loading in required libraries

import os
import pandas as pd
import seaborn as sns
import numpy as np

# Reading in the Nobel Prize data
# build read_csv function
folder_name = 'datasets'
dir = r'C:\Users\mcaba\OneDrive\Escritorio\Data Science\Datacamp_Projects\DataCamp_Projects\{}'.format(folder_name)

def read_csv_fun(folder_name,file_name, path):
    path = dir
    os.chdir(path)
    df = pd.read_csv('{}.csv'.format(file_name), sep=',', low_memory=False, on_bad_lines='skip')
    return df

netflix_df = read_csv_fun('datasets','netflix_data', dir)

# Taking a look at the first several winners
netflix_df.head(6)

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,1,A genetics professor experiments with a treatm...,International TV
5,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",2019,95,"After an awful accident, a couple admitted to ...",Horror Movies

1. Glimpse on data

In [6]:
display(
    print(netflix_df.isna().sum())
    )

display(
    print(len(netflix_df))
    )

display(
    netflix_df.info()
)

display(
    netflix_df.value_counts("type")
)

display(
    netflix_df.value_counts("country")
)

display(
    netflix_df.value_counts("genre")
)

display(
    netflix_df.describe()
)

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
duration        0
description     0
genre           0
dtype: int64

None

4812

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4812 entries, 0 to 4811
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       4812 non-null   object
 1   type          4812 non-null   object
 2   title         4812 non-null   object
 3   director      4812 non-null   object
 4   cast          4812 non-null   object
 5   country       4812 non-null   object
 6   date_added    4812 non-null   object
 7   release_year  4812 non-null   int64
 8   duration      4812 non-null   int64
 9   description   4812 non-null   object
 10  genre         4812 non-null   object
dtypes: int64(2), object(9)
memory usage: 413.7+ KB

None

type
Movie      4677
TV Show     135
dtype: int64

country
United States     1886
India              864
United Kingdom     311
Canada             155
France             133
                  ...
Paraguay             1
Guatemala            1
Namibia              1
Iran                 1
Zimbabwe             1
Length: 72, dtype: int64

genre
Dramas                  1343
Comedies                1029
Action                   696
Children                 421
Documentaries            352
Stand-Up                 283
Horror Movies            239
International Movies     100
Classic Movies            69
Thrillers                 49
International TV          39
Crime TV                  30
Uncategorized             25
British TV                20
Independent Movies        20
Anime Features            18
Music                     14
Cult Movies               11
Sci-Fi                    11
Kids                      10
Anime Series               9
Docuseries                 7
TV Shows                   4
Romantic Movies            3
TV Comedies                3
TV Action                  2
LGBTQ Movies               1
Reality TV                 1
Classic                    1
TV Horror                  1
Romantic TV                1
dtype: int64

       release_year     duration
count   4812.000000  4812.000000
mean    2012.711554    99.566708
std        9.517978    30.889305
min     1942.000000     1.000000
25%     2011.000000    88.000000
50%     2016.000000    99.000000
75%     2018.000000   116.000000
max     2021.000000   253.000000

2. Filter for desire year (1990)

In [16]:

years = netflix_df.value_counts("release_year")
print(years.head(40))

release_year
2017    646
2018    624
2016    562
2019    488
2020    379
2015    340
2014    224
2013    183
2012    150
2010    125
2011    119
2009    101
2008     99
2006     75
2007     69
2005     59
2004     50
2003     39
2002     39
2001     32
2000     30
1997     26
1999     26
1998     26
1995     16
1993     16
1992     16
1996     15
1990     15
1994     14
1982     14
1991     14
1988     14
1989     12
1973     10
1979      9
1980      9
1986      8
1984      8
1983      8
dtype: int64

In [6]:
netflix_df_90s = netflix_df[(netflix_df["release_year"] >= 1990) & (netflix_df["release_year"] < 2000)]

In [9]:
display(
    netflix_df_90s.describe()
)

       release_year    duration
count    184.000000  184.000000
mean    1995.130435  114.500000
std        2.944727   34.163221
min     1990.000000    1.000000
25%     1993.000000   94.000000
50%     1996.000000  108.000000
75%     1998.000000  136.000000
max     1999.000000  195.000000

In [10]:
display(
    netflix_df_90s.value_counts("release_year")
)

release_year
1997    26
1998    26
1999    26
1992    16
1993    16
1995    16
1990    15
1996    15
1991    14
1994    14
dtype: int64

In [29]:
# Get the mode of the 'duration' column
mode_duration = netflix_df_90s['duration'].mode()[0]

# Save the mode as an integer
duration = int(mode_duration)
print(duration)

94

In [17]:
netflix_df_90s['short_movies'] = netflix_df_90s['duration'].apply(
    lambda x: 1 if x < 90 else 0
)
print(netflix_df_90s[['show_id', 'duration', 'short_movies']].head(20))

    show_id  duration  short_movies
6        s8       119             0
118    s167       101             0
145    s211        82             1
167    s239       108             0
194    s274       154             0
240    s344       174             0
315    s456       122             0
320    s467       119             0
333    s487        75             1
334    s488        75             1
352    s508       160             0
410    s593       139             0
428    s624        49             1
430    s627        90             0
431    s628        95             0
468    s688       119             0
479    s709        78             1
515    s757       166             0
516    s758       103             0
517    s759       128             0

C:\Users\mcaba\AppData\Local\Temp\ipykernel_5652\3928423582.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_df_90s['short_movies'] = netflix_df_90s['duration'].apply(

In [18]:
display(
    netflix_df_90s.value_counts("genre")
)

genre
Action            48
Dramas            44
Comedies          40
Children          15
Classic Movies    15
Stand-Up           8
Thrillers          5
Horror Movies      4
Cult Movies        2
Documentaries      2
Docuseries         1
dtype: int64

In [26]:
short_movie_count = netflix_df_90s[(netflix_df_90s['short_movies'] == 1) & (netflix_df_90s["genre"] == 'Action')].count()
print(short_movie_count)

show_id         7
type            7
title           7
director        7
cast            7
country         7
date_added      7
release_year    7
duration        7
description     7
genre           7
short_movies    7
dtype: int64

In [27]:
short_movie_count = len(netflix_df_90s[(netflix_df_90s['short_movies'] == 1) & (netflix_df_90s["genre"] == 'Action')])
print(short_movie_count)

7