# **Project: Visualizing the History of Nobel Prize Winners**

The Nobel Prize has been among the most prestigious international awards since 1901. Each year, awards are bestowed in chemistry, literature, physics, physiology or medicine, economics, and peace. In addition to the honor, prestige, and substantial prize money, the recipient also gets a gold medal with an image of Alfred Nobel (1833 - 1896), who established the prize.

The Nobel Foundation has made a dataset available of all prize winners from the outset of the awards from 1901 to 2023. The dataset used in this project is from the Nobel Prize API and is available in the nobel.csv file in the data folder.

In this project, you'll get a chance to explore and answer several questions related to this prizewinning data. And we encourage you then to explore further questions that you're interested in!

#### TASK: Analyze Nobel Prize winner data and identify patterns by answering the following questions:

##### 1. What is the most commonly awarded gender and birth country?

Store your answers as string variables top_gender and top_country.

##### 2. Which decade had the highest ratio of US-born Nobel Prize winners to total winners in all categories?

Store this as an integer called max_decade_usa.

##### 3. Which decade and Nobel Prize category combination had the highest proportion of female laureates?

Store this as a dictionary called max_female_dict where the decade is the key and the category is the value. There should only be one key:value pair.

##### 4. Who was the first woman to receive a Nobel Prize, and in what category?

Save your string answers as first_woman_name and first_woman_category.

##### 5. Which individuals or organizations have won more than one Nobel Prize throughout the years?

Store the full names in a list named repeat_list.

In [2]:
# Loading in required libraries

import os
import pandas as pd
import seaborn as sns
import numpy as np

# Reading in the Nobel Prize data
# build read_csv function
folder_name = 'datasets'
dir = r'C:\Users\mcaba\OneDrive\Escritorio\Data Science\Datacamp_Projects\DataCamp_Projects\{}'.format(folder_name)

def read_csv_fun(folder_name,file_name, path):
    path = dir
    os.chdir(path)
    df = pd.read_csv('{}.csv'.format(file_name), sep=',', low_memory=False, on_bad_lines='skip')
    return df

nobel = read_csv_fun('datasets','nobel', dir)

# Taking a look at the first several winners
nobel.head(2)

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France

In [15]:
nobel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  1000 non-null   int64
 1   category              1000 non-null   object
 2   prize                 1000 non-null   object
 3   motivation            912 non-null    object
 4   prize_share           1000 non-null   object
 5   laureate_id           1000 non-null   int64
 6   laureate_type         1000 non-null   object
 7   full_name             1000 non-null   object
 8   birth_date            968 non-null    object
 9   birth_city            964 non-null    object
 10  birth_country         969 non-null    object
 11  sex                   970 non-null    object
 12  organization_name     736 non-null    object
 13  organization_city     735 non-null    object
 14  organization_country  735 non-null    object
 15  death_date            596 non-null    object
 16  death_city            579 non-null    object
 17  death_country         585 non-null    object
dtypes: int64(2), object(16)
memory usage: 140.8+ KB

In [3]:
# Loading in required libraries
import pandas as pd
import seaborn as sns
import numpy as np

# Start coding here!

In [4]:
# 1. What is the most commonly awarded gender and birth country?

# Display the number of prizes won by male and female recipients.
display(nobel['sex'].value_counts())

# Display the number of prizes won by the top 10 nationalities.
nobel['birth_country'].value_counts().head(10)

Male      905
Female     65
Name: sex, dtype: int64

United States of America    291
United Kingdom               91
Germany                      67
France                       58
Sweden                       30
Japan                        28
Canada                       21
Switzerland                  19
Netherlands                  19
Italy                        18
Name: birth_country, dtype: int64

In [9]:
nobel_groupby_sex = nobel.groupby("sex").agg(
    # "sex_count" - the number of prizes won by male and female recipients.
    sex_count = ("sex", "count")

)

nobel_groupby_sex_ni = nobel_groupby_sex.reset_index()
#nobel_groupby_sex_ni_sorted = nobel_groupby_sex_ni.sort_values('count', ascending=False)
print(nobel_groupby_sex_ni)

      sex  sex_count
0  Female         65
1    Male        905

In [10]:
top_gender = nobel_groupby_sex_ni.loc[nobel_groupby_sex_ni['sex_count'].idxmax(), 'sex']
print(top_gender)

Male

In [14]:
top_gender = nobel['sex'].value_counts().index[0]
print(top_gender)

top_country = nobel['birth_country'].value_counts().index[0]
print(top_country)

Male
United States of America

In [23]:
# 2. Which decade had the highest ratio of US-born Nobel Prize winners to total winners in all categories?

nobel['decade'] = (nobel['year'] // 10) * 10
display(nobel['decade'].value_counts(sort=False))

1900     57
1910     40
1920     54
1930     56
1940     43
1950     72
1960     79
1970    104
1980     97
1990    104
2000    123
2010    121
2020     50
Name: decade, dtype: int64

In [26]:
nobel_grouped = nobel.groupby(["decade","birth_country"]).agg(
    # "num_prizes" - the number of nobel prizes
    num_prizes = ("prize", "count"),
)

nobel_grouped_index = nobel_grouped.reset_index()
print(nobel_grouped_index)

     decade                     birth_country  num_prizes
0      1900  Austrian Empire (Czech Republic)           1
1      1900           Austrian Empire (Italy)           1
2      1900                 Bavaria (Germany)           1
3      1900                           Belgium           1
4      1900             British India (India)           1
..      ...                               ...         ...
358    2020                            Russia           1
359    2020                            Sweden           1
360    2020                 USSR (now Russia)           2
361    2020                    United Kingdom           3
362    2020          United States of America          18

[363 rows x 3 columns]

In [41]:
nobel_grouped_index_US = nobel_grouped_index[nobel_grouped_index["birth_country"] == 'United States of America']
print(nobel_grouped_index_US)

nobel_grouped_index_US_max = nobel_grouped_index_US[(nobel_grouped_index_US['num_prizes'] == nobel_grouped_index_US['num_prizes'].max())]
print(nobel_grouped_index_US_max)

     decade             birth_country  num_prizes
32     1900  United States of America           1
51     1910  United States of America           3
71     1920  United States of America           4
90     1930  United States of America          14
111    1940  United States of America          13
136    1950  United States of America          21
167    1960  United States of America          21
199    1970  United States of America          33
235    1980  United States of America          31
270    1990  United States of America          42
306    2000  United States of America          52
342    2010  United States of America          38
362    2020  United States of America          18
     decade             birth_country  num_prizes
306    2000  United States of America          52

In [43]:
max_decade_usa = nobel_grouped_index_US_max['decade'].iloc[0]
print(max_decade_usa)

2000

In [ ]:
# 3. Which decade and Nobel Prize category combination had the highest proportion of female laureates?

nobel['is_female_w'] = nobel['sex'].apply(
    lambda x: 1 if x == 'Female' else 0
)

nobel_grouped_cat = nobel.groupby(["decade","category"]).agg(
    # "num_fem_w" - the number of females nobel laurates
    num_fem_w = ("is_female_w", "sum"),
    # "total_w" - the number of total nobel laurates regarding the gender
    total_w = ("sex", "count")
)

nobel_grouped_cat_index = nobel_grouped_cat.reset_index()
print(nobel_grouped_cat_index)

    decade    category  num_fem_w  total_w
0     1900   Chemistry          0        9
1     1900  Literature          1       10
2     1900    Medicine          0       11
3     1900       Peace          1       13
4     1900     Physics          1       13
..     ...         ...        ...      ...
67    2020   Economics          1        9
68    2020  Literature          2        4
69    2020    Medicine          1        8
70    2020       Peace          2        4
71    2020     Physics          2       12

[72 rows x 4 columns]

In [49]:
nobel_grouped_cat_index['ratio'] = (nobel_grouped_cat_index['num_fem_w'] / nobel_grouped_cat_index['total_w']).round(2)
print(nobel_grouped_cat_index)

max_ratio_fem_w = nobel_grouped_cat_index[(nobel_grouped_cat_index['ratio'] == nobel_grouped_cat_index['ratio'].max())]
print(max_ratio_fem_w)

    decade    category  num_fem_w  total_w  ratio
0     1900   Chemistry          0        9   0.00
1     1900  Literature          1       10   0.10
2     1900    Medicine          0       11   0.00
3     1900       Peace          1       13   0.08
4     1900     Physics          1       13   0.08
..     ...         ...        ...      ...    ...
67    2020   Economics          1        9   0.11
68    2020  Literature          2        4   0.50
69    2020    Medicine          1        8   0.12
70    2020       Peace          2        4   0.50
71    2020     Physics          2       12   0.17

[72 rows x 5 columns]
    decade    category  num_fem_w  total_w  ratio
64    2010       Peace          5       10    0.5
68    2020  Literature          2        4    0.5
70    2020       Peace          2        4    0.5

In [51]:
max_female_dict = {
    int(max_ratio_fem_w.iloc[0]['decade']): max_ratio_fem_w.iloc[0]['category']
}
print(max_female_dict)

{2010: 'Peace'}

In [56]:
max_female_dict = dict(zip(max_ratio_fem_w.drop_duplicates('decade')['decade'].astype(int),
                         max_ratio_fem_w.drop_duplicates('decade')['category']))
print(max_female_dict)

{2010: 'Peace', 2020: 'Literature'}

In [58]:
max_female_dict = {}
for _, row in max_ratio_fem_w.iterrows():
    decade = int(row['decade'])
    category = row['category']
    if decade in max_female_dict:
        max_female_dict[decade].append(category)
    else:
        max_female_dict[decade] = [category]

print(max_female_dict)

{2010: ['Peace'], 2020: ['Literature', 'Peace']}

In [80]:
max_female_dict = max_ratio_fem_w[['decade','category']].to_dict()
print(max_female_dict)

{'decade': {64: 2010, 68: 2020, 70: 2020}, 'category': {64: 'Peace', 68: 'Literature', 70: 'Peace'}}

In [69]:
# 4. Who was the first woman to receive a Nobel Prize, and in what category?

nobel_women = nobel[(nobel['sex'] == 'Female')].sort_values('year', ascending=True)
F1rst_women = nobel_women[['year', 'full_name', 'category']].head(1)
print(F1rst_women)

first_woman_name = F1rst_women['full_name'].iloc[0]
print(first_woman_name)
first_woman_category = F1rst_women['category'].iloc[0]
print(first_woman_category)

    year                    full_name category
19  1903  Marie Curie, née Sklodowska  Physics
Marie Curie, née Sklodowska
Physics

In [71]:
# 5. Which individuals or organizations have won more than one Nobel Prize throughout the years?

nobel_grouped_name = nobel.groupby(["full_name"]).agg(
    # "num_prize" - the number of prizes per name
    num_prize = ("prize", "count")
)
nobel_grouped_name_ix = nobel_grouped_name.reset_index()
print(nobel_grouped_name_ix)

             full_name  num_prize
0    A. Michael Spence          1
1      Aage Niels Bohr          1
2    Aaron Ciechanover          1
3           Aaron Klug          1
4    Abdulrazak Gurnah          1
..                 ...        ...
988          Youyou Tu          1
989        Yuan T. Lee          1
990       Yves Chauvin          1
991  Zhores I. Alferov          1
992      Élie Ducommun          1

[993 rows x 2 columns]

In [81]:
repeated_nobels = nobel_grouped_name_ix[(nobel_grouped_name_ix['num_prize'] > 1)]
print(repeated_nobels)

repeat_list = repeated_nobels['full_name'].to_list()
display(repeat_list)

                                             full_name  num_prize
162  Comité international de la Croix Rouge (Intern...          3
284                                   Frederick Sanger          2
480                                       John Bardeen          2
576                                 Linus Carl Pauling          2
601                        Marie Curie, née Sklodowska          2
672  Office of the United Nations High Commissioner...          2

['Comité international de la Croix Rouge (International Committee of the Red Cross)',
 'Frederick Sanger',
 'John Bardeen',
 'Linus Carl Pauling',
 'Marie Curie, née Sklodowska',
 'Office of the United Nations High Commissioner for Refugees (UNHCR)']